out/
.idea/
data/world/factions/6eme_bureau.faction
data/world/factions/ae_ixbattlegroup.faction
data/world/factions/al_ars.faction
data/world/factions/almighty_dollar.faction
data/world/factions/approlight.faction
data/world/factions/Art_looters.faction
data/world/factions/Art_noir.faction
data/world/factions/ashen_keepers.faction
data/world/factions/blackrock_driveyards.faction
data/world/factions/blade_breakers.faction
data/world/factions/br_consortium.faction
data/world/factions/cabal.faction
data/world/factions/citadeldefenders.faction
data/world/factions/cmc.faction
data/world/factions/coalition.faction
data/world/factions/communist_clouds.faction
data/world/factions/COPS.faction
data/world/factions/customportrait.faction
data/world/factions/dassault_mikoyan.faction
data/world/factions/diableavionics.faction
data/world/factions/domain.faction
data/world/factions/domres.faction
data/world/factions/draco.faction
data/world/factions/everything.faction
data/world/factions/exipirated.faction
data/world/factions/exlane.faction
data/world/factions/famous_bounty.faction
data/world/factions/fang.faction
data/world/factions/fob.faction
data/world/factions/fob-备份.faction
data/world/factions/fringe_defence_syndicate.faction
data/world/factions/GKSec.faction
data/world/factions/gmda.faction
data/world/factions/gmda_patrol.faction
data/world/factions/hiigaran_descendants.faction
data/world/factions/hmi.faction
data/world/factions/hmi_nightmare.faction
data/world/factions/ice.faction
data/world/factions/ii_imperial_guard.faction
data/world/factions/immortallight.faction
data/world/factions/interstellarimperium.faction
data/world/factions/junk_pirates.faction
data/world/factions/junk_pirates_hounds.faction
data/world/factions/junk_pirates_junkboys.faction
data/world/factions/junk_pirates_technicians.faction
data/world/factions/kadur_remnant.faction
data/world/factions/kingdom_of_terra.faction
data/world/factions/kiprad.faction
data/world/factions/knight.faction
data/world/factions/mayasura.faction
data/world/factions/mayorate.faction
data/world/factions/merc_hostile.faction
data/world/factions/mess.faction
data/world/factions/mess_remnant.faction
data/world/factions/metelson.faction
data/world/factions/neutrinocorp.faction
data/world/factions/omicron_faction.faction
data/world/factions/ora.faction
data/world/factions/pack.faction
data/world/factions/pbc.faction
data/world/factions/prv.faction
data/world/factions/pulseindustry.faction
data/world/factions/rb.faction
data/world/factions/remants.faction
data/world/factions/roider.faction
data/world/factions/sanguinary_anarchistic.faction
data/world/factions/science_fuckers.faction
data/world/factions/SCY.faction
data/world/factions/sector.faction
data/world/factions/shadow_industry.faction
data/world/factions/sylphon.faction
data/world/factions/syndicate_asp.faction
data/world/factions/syndicate_asp_familia.faction
data/world/factions/tahlan_greathouses.faction
data/world/factions/tahlan_legioinfernalis.faction
data/world/factions/templars.faction
data/world/factions/the_cartels.faction
data/world/factions/the_deserter.faction
data/world/factions/tiandong.faction
data/world/factions/united_security.faction
data/world/factions/vesperon.faction
data/world/factions/warhawk_republic.faction
